* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #0f172a;
	font-family: "Titillium Web", sans-serif;
	height: 100vh;
}

header {
	background: #1d4ed8;
	padding: 20px;
	width: 100%;
}

main {
	display: grid;
	grid-template-columns: auto 250px;
	height: 100%;
}

.shelf {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 30px;
	padding: 30px;
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}

.book {
	position: relative;
}

.book-info {
	position: absolute;
	text-align: center;
	top: 37%;
	left: 52%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 700;
}

#book-title,
#book-author {
	text-transform: capitalize;
}

#read-icon {
	display: block;
	width: 32px;
	position: absolute;
	top: 76%;
	left: 41%;
	transform: translate(-50%, -50%);
}

#book-pages {
	position: absolute;
	top: 80%;
	left: 65%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	font-weight: 700;
}

.buttons {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mark-read {
	padding: 5px 10px;
	background: #15803d;
	border: none;
	transition: all 0.3s ease;
}

.mark-read:hover {
	cursor: pointer;
	background: #166534;
}

.remove {
	padding: 5px 10px;
	border: none;
	background: #dc2626;
	transition: all 0.3s ease;
}

.remove:hover {
	cursor: pointer;
	background: #be123c;
}

#add-book {
	position: relative;
}

.placeholder-book {
	opacity: 0.3;
}

.add-book-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease;
}

.add-book-icon:hover {
	cursor: pointer;
	stroke: #1d4ed8;
}

.book-details-popup {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 25px;
	background: #ffffff;
	font-size: 20px;
	box-shadow: rgba(236, 233, 233, 0.24) 0px 3px 8px;
}

#submit-btn {
	font-size: 18px;
	padding: 5px 10px;
	border: none;
	background: #1d4ed8;
	margin-top: 10px;
}

.info {
	padding: 30px;
	background: #2e3d54;
	color: #e9e9e9;
}
